.parent {
    border: 2px solid black;
    background-color: red;

}

.child {
    height: 150px;
    width: 100px;
    position: relative;
    top: 20px;
    left: 20px;
    background-color: green;
}

.rel_parent {
    position: relative;
    height: 200px;
    background-image: url(https://images.unsplash.com/photo-1500622944204-b135684e99fd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.abs_child {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease-out;
    transform: translateY(100%);
}

.abs_child h1 {
    color: white;
    text-align: center;
}

.rel_parent:hover .abs_child {
    transform: translateY(0%);
}
