/* common css */
body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.img-responsive {
    display: block;
    max-width: 100%;
}

.content {
    background-color: cadetblue;
    min-height: 100vh;
    padding-top: 100px;
}

.section-title {
    font-size: 50px;
    color: #fff;
    margin: 0;
    font-weight: bold;
    margin-left: 50px;
}

.section-content {
    padding: 10px 50px;
/*    background-color: rgba(0, 0, 0, 0.51);*/
}
.img-responsive{
    max-width: 100%;
    display: block;
}

/*navbar css*/
.navbar {
    position: fixed;
    width: 100%;
    /*height: 50px;*/
    background-color: #263238;
    top: 0;
    left: 0;
}

.navbar .logo {
    float: left;
    width: 25%;
    /*background-color: #cfd8dc;*/
}

.navbar .logo img {
    max-width: 70px;
    margin: auto;
    padding: 10px 0px;
}

.navbar .nav {
    float: left;
    width: 75%;
    /* background-color: #b0bec5;*/
    text-align: center;
    margin-top: 14px;
}

.navbar .nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;

}

.navbar .nav ul li {
    display: inline-block;
}

.navbar .nav ul li a {
    padding: 10px 20px;
    display: block;
    color: white;
    transition: all 0.3s linear;
    cursor: pointer;
}

.navbar .nav ul li a:hover{
    color: #f44148;
}

/*index css*/
.team-section {}

.team-section .section-content {
    display: table;
    width: 100%;
    box-sizing: border-box;
}

.team-section .section-content .box25{
    float: left;
    width: 25%;
    padding: 15px;
    box-sizing: border-box;
}

.team-section .section-content .box25 .box-inside {
    height: 300px;
    background-color: #fff;

}

.project-section {
    background-color: antiquewhite;
    }

.project-section .section-content {
    display: table;
    width: 100%;
    box-sizing: border-box;
}

.project-section .section-content .box25 {
    float: left;
    width: 25%;
    padding: 15px;
    box-sizing: border-box;
}

.project-section .section-content .box25 .box-inside {
    height: 300px;
    background-color: #5f9ea0;

}
.project-section  .section-title {
    color: cadetblue;
}
/*gallery section*/
.gallery-section {}

.gallery-section .section-content {
    display: table;
    width: 100%;
    box-sizing: border-box;
}

.gallery-section .section-content .box33{
    float: left;
    width: 33.33%;
    padding: 15px;
    box-sizing: border-box;
}

.gallery-section .section-content .box33 .box-inside {
    position: relative;
    /*height: 300px;*/
    background-color: #fff;
    
}

.gallery-section .section-content .box33 .box-inside .img-responsive:nth-child(1) {
    filter: blur(3px);
}

.box-inside .abs-img{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition:all 0.5s linear; 
}

.gallery-section .section-content .box33 .box-inside:hover .abs-img{
    width: 70%;
    
}